@model GerenciadorCondominios.BLL.Models.Evento

@{
    ViewData["Title"] = "Novo Evento";
}

<div class="formulario">
<div class="collection with-header">
    <form asp-action="Create">
    <div class="collection-header green darken-3">
        <h6 class="white-text">Novo Evento</h6>
    </div>
        <div class="collection-item">
            <div asp-validation-summary="ModelOnly" class="red-text text-darken-4"></div>
            
            <div class="row">
                <div class="input-field col s12">
                    <input asp-for="Nome" type="text" class="validate" id="nome"/>
                    <label asp-for="Nome" id="nome"></label>
                    <span class="red-text text-darken-4" asp-validation-for="Nome"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input asp-for="DataEvento" type="text" class="validate" id="data"/>
                    <label asp-for="DataEvento" id="data"></label>
                    <span class="red-text text-darken-4" asp-validation-for="DataEvento"></span>
                </div>
            </div>
            
            <input type="hidden" asp-for="UsuarioId"/>
        </div>
        <div class="colletion-item">
            <button type="submit" class="btn-small green darken-3">Salvar</button> &ensp;
            <a asp-controller="Eventos"  asp-action="Index">Voltar</a>
        </div>

    </form>
</div>
</div>


@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/InicializarDatepicker.js"></script>
}



